<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.rodrigo.plugins.dataRoamingSettings"
        version="1.0">

    <name>Android Data Roaming Settings</name>

    <description>
        Allows aplication go to data roaming settings
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DataRoamingSettings">
                <param name="android-package" value="com.rodrigo.plugins.dataRoamingSettings.DataRoamingSettings" />
            </feature>
        </config-file>

        <js-module src="www/DataRoamingSettings.js" name="DataRoamingSettings">
            <clobbers target="cordova.plugins.DataRoamingSettings" />
        </js-module>

        <source-file src="src/android/DataRoamingSettings.java" target-dir="src/com/rodrigo/plugins/dataRoamingSettings" />

    </platform>
</plugin>